//  ================= Every Device =================
header {
  position: fixed;
  top: 0;
  z-index: 100;
}
.scroll-header {
  height: 100px !important;
  background-color: $secondary-body-color;
}
.nav__btn {
  width: 188px;
}
.nav__mobile {
  display: none;
}
.nav__title {
  font-size: $l-font-size;
  color: $main-text-color;
}
.nav__collapse {
  color: $main-text-color;
  font-size: $m-font-size;
  &:hover {
    color: $hover-color;
  }
}
.nav__items {
  a:hover {
    color: $hover-color !important;
  }
}
.nav__buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px 10px;
  .nav__cart {
    font-size: $l-font-size;
    color: $main-text-color;
    margin-left: 10px;
    cursor: pointer;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $body-color;
    &:hover {
      color: $hover-color;
      -webkit-text-fill-color: $hover-color;
    }
  }
}

// Mobile
@media only screen and (max-width: 900px) {
  .header {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
  }
  .show-nav {
    top: 0 !important;
  }
  .navbar {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 100;
    display: flex;
    justify-content: space-around;
    background-color: $secondary-body-color;
    top: -500vh;
    padding-top: 10px;
    overflow-x: scroll;
    ::-webkit-scrollbar {
      width: 0.3rem !important;
      border-radius: 0.5rem;
    }
    .nav__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    .nav__items {
      display: flex;
      flex-direction: column;
      row-gap: 0;
      padding: 0px 10px;
      .nav__links {
        width: max-content;
        color: $main-text-color;
        font-size: $nav-font-size;
        @media only screen and (max-width: 330px) {
          font-size: 3.125rem !important;
        }
      }
    }
  }
  .nav__mobile-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    h1 {
      font-size: $l-font-size;
      color: $main-text-color;
      font-family: $font-bold;
      span {
        color: $main-text-color;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
      }
    }
    .nav__close {
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $body-color;
      font-size: $l-font-size;
      color: $main-text-color;
      cursor: pointer;
      width: max-content;
      &:hover {
        color: $hover-color;
        -webkit-text-fill-color: $hover-color;
      }
    }
  }
  .nav__mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav__collapse {
      font-size: $l-font-size;
      cursor: pointer;
      margin-top: 5px;
      &:hover {
        color: $hover-color;
      }
    }
  }
}

// Desktop
@media only screen and (min-width: 900px) {
  .header {
    width: 100%;
    height: 150px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 100;
    .navbar {
      width: 100%;
      .nav__list {
        display: flex;
        justify-content: space-around;
        .nav__items {
          display: flex;
          align-items: center;
          column-gap: 20px;
          a {
            color: $main-text-color;
            font-size: $s-font-size;
            font-family: $font-light;
            font-weight: lighter;
          }
        }
      }
    }
  }
  .nav__mobile-list {
    display: none;
  }
}
