.scroll-top {
  width: 40px;
  height: 40px;
  background-color: $hover-color;
  color: $body-color;
  &:hover {
    background-color: $body-color;
    color: $hover-color;
    .scroll-icon {
      color: $hover-color;
    }
  }
  .scroll-icon {
    color: $body-color;
  }
}
