.cart {
  position: fixed;
  height: 100%;
  width: 100%;
  right: -300vh;
  background-color: $secondary-body-color;
  z-index: 9999;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px 10px 10px;
  &:hover {
    box-shadow: 0px 0.4px 2.2px rgba(0, 0, 0, 0.014),
      0px 1px 5.3px rgba(0, 0, 0, 0.02), 0px 1.9px 10px rgba(0, 0, 0, 0.025),
      0px 3.4px 17.9px rgba(0, 0, 0, 0.03),
      0px 6.3px 33.4px rgba(0, 0, 0, 0.036), 0px 15px 80px rgba(0, 0, 0, 0.05);
  }
  .cart__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    .cart__buttons {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      .remove-all-btn {
        width: 240px;
      }
    }
    .cart__wrapper {
      width: 100%;
      padding: 0px 20px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      .cart__product {
        max-width: 500px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        border: solid 1px $main-text-color;
        border-radius: 5px;
        padding: 5px 12px;
        @media only screen and (max-width: 300px) {
          padding: 5px 2px;
        }
        .cart__product-img {
          max-width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          padding: 10px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .cart__product-info {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          h2 {
            font-family: $font-bold;
            font-size: $m-font-size;
            color: $main-text-color;
          }
          p {
            font-size: $xs-font-size;
            font-family: $font-light;
            font-weight: lighter;
            color: $secondary-text-color;
          }
          .cart__product-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              font-size: $s-font-size;
              color: $main-text-color;
              span {
                font-size: $xs-font-size;
              }
            }
            .remove-from-cart-btn {
              width: 220px !important;
              height: 50px !important;
              @media only screen and (max-width: 390px) {
                width: 130px !important;
                height: 60px !important;
                font-size: 16px;
                word-wrap: break-word;
              }
            }
          }
        }
      }
    }
  }
}
.show-cart {
  right: 0;
}
.cart__titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 10px;
  height: 100px;

  .cart-close {
    font-size: $l-font-size;
    color: $main-text-color;
    &:hover {
      color: $hover-color;
      cursor: pointer;
    }
  }
  h1 {
    font-size: $m-font-size;
    color: $main-text-color;
    font-family: $font-bold;
    span {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: $main-text-color;
      -webkit-text-stroke-width: 1.4px;
    }
  }
}
// Desktop View
@media only screen and (min-width: 900px) {
  .cart {
    width: 500px;
  }
}
