@font-face {
  font-family: "final-bold";
  src: url(/src/assets/fonts/FinalSix\ Bold.ttf);
}
@font-face {
  font-family: "final-light";
  src: url(/src/assets/fonts/FinalSix\ Light.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.4s all ease-in-out;
}

body {
  background-color: #0e0e0f;
  overflow-x: hidden;
}

@media only screen and (max-width: 330px) {
  body {
    overflow-x: hidden;
  }
}
html {
  scroll-behavior: smooth;
}

.padding {
  padding: 0px 30px;
}

/*========== SCROLL BAR ==========*/
@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0rem !important;
    border-radius: 0.5rem;
  }
}
::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 0.5rem;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

::-webkit-scrollbar-thumb:hover {
  background: #606060;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}

a {
  font-family: "final-light";
}
a:hover {
  color: #d0115f;
}

h1 {
  font-family: "final-bold";
  font-size: 3.75rem;
}

h2 {
  font-family: "final-bold";
  font-size: 1.875rem;
}

p {
  font-family: "final-light";
  font-size: 1.25rem;
}

.under-title {
  font-family: "final-light";
  font-size: 1.25rem;
  color: #f2f2f2;
}

input::-moz-placeholder {
  font-size: 1.5625rem;
  font-family: "final-light";
}

input:-ms-input-placeholder {
  font-size: 1.5625rem;
  font-family: "final-light";
}

input::placeholder {
  font-size: 1.5625rem;
  font-family: "final-light";
}

textarea::-moz-placeholder {
  font-size: 1.5625rem;
  font-family: "final-light";
}

textarea:-ms-input-placeholder {
  font-size: 1.5625rem;
  font-family: "final-light";
}

textarea::placeholder {
  font-size: 1.5625rem;
  font-family: "final-light";
}

.h2-light {
  font-family: "final-light";
  font-size: 1.875rem;
}

.prices {
  font-size: 2.5rem;
  font-family: "final-light";
}
.prices span {
  font-size: 1.875rem;
}

.btn {
  width: 145px;
  height: 45px;
  font-size: 1.25rem;
  background-color: #0e0e0f;
  text-align: center;
  border-radius: 2px;
  border: solid 1px #fff;
  color: #fff;
  font-family: "final-light";
  cursor: pointer;
}
.btn:hover {
  color: #d0115f;
  background-color: #131314;
  border: solid 1px #d0115f;
}
.btn:hover .btn-icon {
  color: #d0115f;
}
.btn .btn-icon {
  color: #fff;
  -webkit-text-stroke-width: 1px #0e0e0f;
}

.clicked-btn {
  background-color: #d0115f !important;
  color: #fff !important;
  border: solid 1px #fff !important;
}
.clicked-btn .btn-icon {
  color: #fff !important;
}

.scroll-top {
  width: 40px;
  height: 40px;
  background-color: #d0115f;
  color: #0e0e0f;
}
.scroll-top:hover {
  background-color: #0e0e0f;
  color: #d0115f;
}
.scroll-top:hover .scroll-icon {
  color: #d0115f;
}
.scroll-top .scroll-icon {
  color: #0e0e0f;
}

footer {
  background-color: #131314;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 70px;
}
@media only screen and (min-width: 1425px) {
  footer {
    padding: 60px 171px;
  }
}
footer .footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}
footer .footer__container h1 {
  font-size: 3.75rem;
  color: #fff;
}
@media only screen and (max-width: 320px) {
  footer .footer__container h1 {
    font-size: 3.125rem;
  }
}
footer .footer__container h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1.4px;
}
footer .footer__container .footer__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 100px;
       column-gap: 100px;
}
@media only screen and (max-width: 760px) {
  footer .footer__container .footer__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 100px;
  }
}
@media only screen and (max-width: 465px) {
  footer .footer__container .footer__content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 100px;
  }
  footer .footer__container .footer__content .footer__card {
    max-width: 236px;
  }
}
footer .footer__container .footer__content .footer__card {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
footer .footer__container .footer__content .footer__card h1 {
  font-size: 1.875rem;
  color: #fff;
}
footer .footer__info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
footer .footer__info h2 {
  font-size: 1.25rem;
  font-family: "final-bold";
  color: #fff;
}
footer .footer__info p {
  font-size: 1.25rem;
  color: #f2f2f2;
  font-family: "final-light";
  font-weight: lighter;
}
footer .footer__info p span {
  font-family: "final-bold";
}
footer .footer__icons {
  font-size: 1.25rem;
  color: #fff;
}
footer .footer__icons:hover {
  color: #d0115f;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 202px 20px;
}
.about .about__container {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  row-gap: 43px;
}
.about .about__container .about__title {
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1.4px;
}
.about .about__container .about__desc {
  font-family: "final-light" !important;
  font-weight: normal;
  color: #fff;
}
@media only screen and (max-width: 330px) {
  .about .about__container .about__desc {
    font-size: 3.125rem !important;
  }
}
@media only screen and (max-width: 280px) {
  .about .about__container .about__desc {
    font-size: 2.8125rem !important;
  }
}
.about .about__container .about__desc span {
  -webkit-text-decoration: underline 0.2rem solid;
          text-decoration: underline 0.2rem solid;
  text-underline-position: below;
  text-underline-offset: 0.6rem;
}

.contact {
  display: flex;
  padding: 130px 16px;
  justify-content: center;
  align-items: center;
}
.contact .contact__container {
  width: 900px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}
.contact .contact__container .contact__titles h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1.4px;
}
.contact .contact__container .contact__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
}
.contact .contact__container .contact__inputs .input {
  width: 100%;
  height: 85px;
  padding: 0px 8px;
  text-align: left;
  background-color: transparent;
  border: solid 1px #fff;
  border-radius: 3px;
  outline: none;
  font-size: 1.25rem;
  color: #fff;
  font-family: "final-light";
  font-weight: normal;
}
.contact .contact__container .contact__inputs .input::-moz-placeholder {
  font-size: 1.25rem;
  color: #ccc;
}
.contact .contact__container .contact__inputs .input:-ms-input-placeholder {
  font-size: 1.25rem;
  color: #ccc;
}
.contact .contact__container .contact__inputs .input::placeholder {
  font-size: 1.25rem;
  color: #ccc;
}
.contact .contact__container .contact__inputs .input:focus {
  border: solid 2px rgb(34, 34, 34);
}
.contact .contact__container .contact__inputs .message {
  padding: 10px 8px;
  resize: vertical;
  min-height: 300px;
  max-height: 400px;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}
.home .home__container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
.home .home__container .home__info {
  z-index: 10;
}
.home .home__container .home__info h1 {
  color: #fff;
}
@media only screen and (max-width: 330px) {
  .home .home__container .home__info h1 {
    font-size: 3.125rem !important;
  }
}
.home .home__container .home__info h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1.4px;
}
.home .home__container .home__info p {
  color: #f2f2f2;
  font-size: 1.5625rem;
  max-width: 299px;
}

@media only screen and (max-width: 600px) {
  .home__container {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center;
  }

  .home__info {
    max-width: 310px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: left;
  }
  .home__info h1 {
    text-align: left;
  }
  .home__info button {
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .home__info button .home-icon {
    font-size: 1.5rem;
    color: #fff;
    position: relative;
    top: 2px;
    right: 5px;
  }
  .home__info button:hover > .home-icon {
    color: #d0115f;
  }
}
header {
  position: fixed;
  top: 0;
  z-index: 100;
}

.scroll-header {
  height: 100px !important;
  background-color: #131314;
}

.nav__btn {
  width: 188px;
}

.nav__mobile {
  display: none;
}

.nav__title {
  font-size: 2.5rem;
  color: #fff;
}

.nav__collapse {
  color: #fff;
  font-size: 1.875rem;
}
.nav__collapse:hover {
  color: #d0115f;
}

.nav__items a:hover {
  color: #d0115f !important;
}

.nav__buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px 10px;
}
.nav__buttons .nav__cart {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0e0e0f;
}
.nav__buttons .nav__cart:hover {
  color: #d0115f;
  -webkit-text-fill-color: #d0115f;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
  }

  .show-nav {
    top: 0 !important;
  }

  .navbar {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 100;
    display: flex;
    justify-content: space-around;
    background-color: #131314;
    top: -500vh;
    padding-top: 10px;
    overflow-x: scroll;
  }
  .navbar ::-webkit-scrollbar {
    width: 0.3rem !important;
    border-radius: 0.5rem;
  }
  .navbar .nav__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .navbar .nav__items {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    padding: 0px 10px;
  }
  .navbar .nav__items .nav__links {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #fff;
    font-size: 4.375rem;
  }
}
@media only screen and (max-width: 600px) and (max-width: 280px) {
  .navbar .nav__items .nav__links {
    font-size: 3.125rem !important;
  }
}
@media only screen and (max-width: 600px) {
  .nav__mobile-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
  }
  .nav__mobile-list h1 {
    font-size: 2.5rem;
    color: #fff;
    font-family: "final-bold";
  }
  .nav__mobile-list h1 span {
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
  }
  .nav__mobile-list .nav__close {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0e0e0f;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .nav__mobile-list .nav__close:hover {
    color: #d0115f;
    -webkit-text-fill-color: #d0115f;
  }
}
@media only screen and (max-width: 600px) {
  .nav__mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__mobile .nav__collapse {
    font-size: 2.5rem;
    cursor: pointer;
    margin-top: 5px;
  }
  .nav__mobile .nav__collapse:hover {
    color: #d0115f;
  }
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 104px 16px;
  padding-bottom: 130px;
}
.products .products__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 85px;
}
.products .products__wrapper .products__titles h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1.4px;
}
@media only screen and (max-width: 330px) {
  .products .products__wrapper .products__titles h1 {
    font-size: 3.125rem !important;
  }
}
.products .products__wrapper .products__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  -moz-column-gap: 101px;
       column-gap: 101px;
  align-items: center;
  justify-content: center;
}
.products .products__wrapper .products__container .product__card {
  max-width: 500px;
  min-height: 594px;
  border: solid 1px #fff;
  border-radius: 5px;
  padding: 5px 12px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 273px) {
  .products .products__wrapper .products__container .product__card {
    padding: 5px 2px;
  }
}
@media only screen and (min-width: 515px) {
  .products .products__wrapper .products__container .product__card {
    min-height: 594px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
@media only screen and (min-width: 600px) {
  .products .products__wrapper .products__container .product__card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0.4px 2.2px rgba(0, 0, 0, 0.014), 0px 1px 5.3px rgba(0, 0, 0, 0.02), 0px 1.9px 10px rgba(0, 0, 0, 0.025), 0px 3.4px 17.9px rgba(0, 0, 0, 0.03), 0px 6.3px 33.4px rgba(0, 0, 0, 0.036), 0px 15px 80px rgba(0, 0, 0, 0.05);
  }
  .products .products__wrapper .products__container .product__card:hover img {
    transform: scale(1.02);
  }
}
.products .products__wrapper .products__container .product__card .product__img-wrapper {
  width: 100%;
  height: 412px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .products__wrapper .products__container .product__card .product__img-wrapper img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .products__wrapper .products__container .product__info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 100%;
}
.products .products__wrapper .products__container .product__info h2 {
  color: #fff;
}
.products .products__wrapper .products__container .product__info p {
  color: #f2f2f2;
  font-family: "final-light";
  font-weight: lighter;
}
.products .products__wrapper .products__container .product__info .product_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
.products .products__wrapper .products__container .product__info .product_price p {
  font-size: 1.5625rem;
}
.products .products__wrapper .products__container .product__info .product_price p span {
  font-size: 1.25rem;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 62px 34px;
  background-color: #131314;
}
.service .service__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 85px;
}
.service .service__wrapper .service__titles h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1.4px;
}
.service .service__container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
.service .service__container .service__card {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 23px;
  justify-content: center;
}
.service .service__container .service__card img {
  padding-top: 25px;
}
.service .service__container .service__card .service_desc {
  max-width: 234px;
}
.service .service__container .service__card .service_desc h2 {
  color: #fff;
  font-family: "final-light";
  font-weight: lighter;
}
.service .service__container .service__card .service_desc p {
  color: #f2f2f2;
}
.service .service__container .service__card .service__price h1 {
  font-weight: lighter;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .service .service__info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}

.word__showcase {
  padding: 0px 0px;
  overflow-x: hidden;
}
.word__showcase .word-1 {
  white-space: nowrap;
  position: relative;
  right: 0;
}
.word__showcase .word-1 h1 {
  font-size: 6.25rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1.4px;
}
.word__showcase .word-2 {
  white-space: nowrap;
  position: relative;
  right: -1000px;
  bottom: 50px;
}
.word__showcase .word-2 h1 {
  font-size: 6.25rem;
  color: #fff;
}/*# sourceMappingURL=style.css.map */